
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <h1 style="text-align: center;">Barchat</h1>
      <div style="display: block;">
        <canvas baseChart width="200"  height="50"
                    [datasets]="lineChartData"
                    [labels]="lineChartLabels"
                    [options]="lineChartOptions"
                    [legend]="lineChartLegend"

                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">
        </canvas>
      </div>
      <div style="margin-bottom: 10px">
        <table class="table table-responsive table-condensed">
          <tr>
            <th *ngFor="let label of lineChartLabels">{{label}}</th>
          </tr>
          <tr *ngFor="let d of lineChartData">
            <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
          </tr>
        </table>
        <button class="btn btn-sm btn-primary" (click)="randomize()">CLICK</button>
        <button class="btn btn-sm btn-warning" routerLink="/barchat">CLICK</button>
      </div>
    </div>
    <div class="col-md-4">
      <app-doughnut-chart></app-doughnut-chart>
    </div>
  </div>
</div>
