.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.container{
  position: absolute;
  left: 34%;
}
h1{
  text-align: center;
  margin-top: 5%;
  color: blue;
}
